:root{
    --primary: #5c3893;
    --secondary: #f5a25d;
    --tertiary: #fa7f72;
    --quatrinary: #6c6b67;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;

}


body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    min-width: 100vw;
}


header{
    text-align: center;
    margin:0;
    padding:0;
    background-image: linear-gradient(150deg,rgb(206, 162, 20),white, rgb(0, 128, 81));
}

main{
    margin:2%;
    padding:2%;

}